@page
@model LB6_CoreWebApp.Pages.Employees.IndexModel
@{

}
<h1>Employees</h1>

<h2>LAB 6 - GitHub Feedback</h2>
<p>
    At first GitHub was causing problems for me mainly because I used Visual Studio to Push/Pull/Commit. It always uploaded to the wrong branch.
</p>
<p>   However, after learning abit about GitHub Desk Top I found the whole publishing process to be simpler.
</p>
<p>
    In my opinion zipping & Uploading is simpler & straight forward but I believe GitHub still server an important purpose.
</p>